@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  background: #19a2ae;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  background: white;
  min-width: 20.5625rem;
  width: 22rem;
  margin: 1.5625rem;
  height: 23.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 8.875rem) 1fr;
  overflow: hidden;
}
.card_img {
  background-image: url(../../images/bg-pattern-card.svg);
  background-size: cover;
}
.card_presentation {
  background: #fff;
  position: relative;
  display: flex;
}
.card_presentation .circle {
  width: 6.0625rem;
  aspect-ratio: 1/1;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_presentation .circle .profile {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url(../../images/image-victor.jpg);
  background-size: cover;
}
.card_presentation .content {
  align-self: end;
  height: calc(100% - 3.03125rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card_presentation .content .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.card_presentation .content .info .name {
  margin-right: 0.625rem;
  color: #2d3248;
}
.card_presentation .content .info .age {
  font-size: 1.125rem;
}
.card_presentation .content > p {
  color: #6a6f81;
  font-size: 0.875rem;
}
.card_stats {
  border-top: 1px solid #6a6f81;
}
.card_stats ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.card_stats ul li {
  text-align: center;
}
.card_stats ul li h2 {
  font-size: 1.125rem;
  color: #2d3248;
}
.card_stats ul li p {
  font-size: 0.875rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
