@use './utils/index' as vars;

.card {
    background: white;
    min-width: vars.rem(329);
    // max-width: vars.rem(352);
    width: vars.rem(352);
    margin: vars.rem(25);
    height: vars.rem(376);
    border-radius: vars.rem(16);
    display: grid;
    grid-template-rows: repeat(2, vars.rem(142)) 1fr;
    // grid-template-rows: vars.rem(142) vars.rem(12) 1fr;
    overflow: hidden;

    &_img {
        background-image: url(../../images/bg-pattern-card.svg);
        background-size: cover;
    }
    &_presentation {
        background: #fff;
        position: relative;
        display: flex;

        .circle {
            width: vars.rem(97);
            aspect-ratio: 1/1;
            background: #fff;
            position: absolute;
            border-radius: 50%;
            @include vars.flexer(center,center);
            left: 50%;
            transform: translate(-50%,-50%);
            
            .profile {
                width: 90%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-image: url(../../images/image-victor.jpg);
                background-size: cover;
            }
        }

        .content {
            align-self: end;
            height:calc(100% - vars.rem(97) / 2);
            width: 100%;
            // margin-top: vars.rem(30);
            @include vars.flexer(center,center, column);
            // background: red;
            .info {
                // background: red;
                @include vars.flexer(center,center);
                // font-size: vars.rem(18);
                width: 100%;
                .name {
                    margin-right: vars.rem(10);
                    color: vars.$very-dark-des-blue;
                }

                .age {
                    font-size: vars.rem(18);
                    
                }
            }

            & > p {
                color: vars.$dark-gray-blue;
                font-size: vars.rem(14);
            }
        }
    }
    &_stats {
        border-top: 1px solid vars.$dark-gray-blue;
        ul {
            width: 100%;
            height: 100%;
            // background: red;
            @include vars.flexer(center,space-evenly);
            li {
                text-align: center;

                h2 {
                    font-size: vars.rem(18);
                    color: vars.$very-dark-des-blue;
                }
                p {
                    font-size: vars.rem(14);
                    font-weight: 400;
                }
            }
        }
    }
}